body {
    background-image: url(./greatWall.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

.main-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    justify-content: center;
}

.main {
    position: relative;
    width: 100%;
    margin: 0px;
    overflow: auto;
    text-align: center;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    color: white;
    font-family: Cambria, Georgia, 'Segoe UI', Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 50px;
    line-height: 70px;
    text-shadow: 5px 5px 5px black;
}

.recentSearches {
    width: 50%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bolder;
    font-family: Cambria, Georgia, 'Segoe UI', Times, 'Times New Roman', serif;
    color: white;
}

.recentSearchesList {
    word-spacing: 3px;
}

.inputSpace {
    width: 100%;
    text-align: center;
}

#searchBar {
    width: 50%;
    height: 40px;
    border: black solid 2px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 2px gray inset;
    margin-bottom: 15px;
    padding: 0px 15px;
}

#searchButton {
    width: 10%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: white solid 2px;
    margin-bottom: 50px;
}

#searchButton:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.definitionBar {
    display: inline-block;
    width: 50%;
    background-color: white;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    animation: appear 1s;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.cnChars {
    font-family: Cambria, Georgia, 'Segoe UI', Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}

.pinyin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.definition {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}